schema/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="testSuite">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="testTask" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="resource"/>
              <xs:element type="xs:string" name="method"/>
              <xs:element type="xs:short" name="statusCheck"/>
              <xs:element name="assertion" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="actual"/>
                    <xs:element type="xs:string" name="expected"/>
                    <xs:element type="xs:string" name="message" minOccurs="0"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="status"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="header" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="key"/>
                    <xs:element type="xs:string" name="value"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="body" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="testContext">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="entry" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="key"/>
                    <xs:element name="value">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="body"/>
                          <xs:element type="xs:short" name="status"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
  </xs:element>
</xs:schema>